body{
    background-color: rgb(171, 230, 230);

}
 {
    font-family: :vertical (sans-serif)
    margin: 5px;
    padding: 10px;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: rgb(229, 226, 226);
    margin:  15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    background-color: rgb(255, 255, 255);
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.video-container {
    text-align: center;
    margin-top: 20px;
    color: black;
}

.video-container video {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.image-section {
    text-align: center;
    margin-top: 50px;

}

.image-section img {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
}